<%= render "shared/header" %>
<h1>
  商品検索
</h1>
<%= search_form_for @p, url: infos_search2_path do |f| %>
  <%= f.label :category_eq, '魚名' %>
  <%#= f.collection_select(:category_id_eq, Category.all, :id, :name, {include_blank: "-----"}) %>
  <br>
  <%= f.label :item_status_eq, '商品状態' %>
  <%#= f.collection_select(:item_status_id_eq, ItemStatus.all, :id, :name, {include_blank: "-----"}) %>
  <br>
  <%= f.label :delivery_fee_eq, '配送料の負担' %>
  <%#= f.collection_select(:delivery_fee_id_eq, DeliveryFee.all, :id, :name, {include_blank: "-----"}) %>
  <br>
  <%= f.label :delivery_date_eq, '配送日の目安' %>
  <%#= f.collection_select(:delivery_date_id_eq, DeliveryDate.all, :id, :name, {include_blank: "-----"}) %>
  <br>
  <%= f.label :price, '価格：' %>
  <%#= f.radio_button :price_lteq, '' %>
  指定なし
  <%#= f.radio_button :price_lteq, '1000' %>
  1000円以下
  <%#= f.radio_button :price_lteq, '2500' %>
  2500円以下
  <%#= f.radio_button :price_lteq, '5000' %>
  5000円以下
  <br>
  <%= f.submit '検索' %>
<% end %>
<div class='item-contents'>
  <h2 class='title'>ピックアップカテゴリー</h2>
    <ul class='item-lists'>
    <%# 検索結果の個数で条件分岐 %>
      <% if @info.length !=0 %>
        <% @info.each do |info| %>
        <li class='list'>
          <%= link_to info_path(info), class: 'item' do %>
            <div class='item-img-content'>
              <%#= image_tag info.image, class: "item-img" %>
              <p><%= info.text %></p>
              <span class="name">
                <%= info.fish_name %>
              </span>
            </div>
          <% end %>
        <% end %>
      <% else %>
      該当する投稿はありません
      <% end %>
    </ul>
</div>

